.c-button {
  // layout pos
  height: toRem(32);
  // box
  padding: 0 toRem(16);
  // font text
  font-size: $font-sm;
  line-height: toRem(32);
  // skin
  border: 1px solid $primary-color;
  border-radius: toRem(15);
}
