.flex {
  display: flex;

  &-jc-sb {
    @extend .flex;
    justify-content: space-between;
  }

  &-jc-c {
    @extend .flex;
    justify-content: center;
  }

  &-ai-c {
    @extend .flex;
    align-items: center;
  }
}
