/**
 * Spacing classes
 * Should be used to modify the default
 * spacing between objects (not between nodes of the same
 * object)
 * Please use judiciously. You want to be
 * using defaults most of the time, these are
 * exceptions!
 * <type><location><size>
 */
/* spacing helpers
p,m = padding,margin
a,t,r,b,l,h,v = all,top,right,bottom,left,
horizontal,vertical
s,m,l,n = small(5px),medium(10px),large(20px),none(0px)
*/
$mp-none-unit: 0px;
$mp-small-unit: 5px;
$mp-medium-unit: 10px;
$mp-large-unit: 20px;

.ptn,
.pvn,
.pan {
  padding-top: $mp-none-unit !important;
}
.pts,
.pvs,
.pas {
  padding-top: $mp-large-unit !important;
}
.ptm,
.pvm,
.pam {
  padding-top: $mp-medium-unit !important;
}
.ptl,
.pvl,
.pal {
  padding-top: $mp-large-unit !important;
}
.prn,
.phn,
.pan {
  padding-right: $mp-none-unit !important;
}
.prs,
.phs,
.pas {
  padding-right: $mp-large-unit !important;
}
.prm,
.phm,
.pam {
  padding-right: $mp-medium-unit !important;
}
.prl,
.phl,
.pal {
  padding-right: $mp-large-unit !important;
}
.pbn,
.pvn,
.pan {
  padding-bottom: $mp-none-unit !important;
}
.pbs,
.pvs,
.pas {
  padding-bottom: $mp-large-unit !important;
}
.pbm,
.pvm,
.pam {
  padding-bottom: $mp-medium-unit !important;
}
.pbl,
.pvl,
.pal {
  padding-bottom: $mp-large-unit !important;
}
.pln,
.phn,
.pan {
  padding-left: $mp-none-unit !important;
}
.pls,
.phs,
.pas {
  padding-left: $mp-large-unit !important;
}
.plm,
.phm,
.pam {
  padding-left: $mp-medium-unit !important;
}
.pll,
.phl,
.pal {
  padding-left: $mp-large-unit !important;
}
.mtn,
.mvn,
.man {
  margin-top: $mp-none-unit !important;
}
.mts,
.mvs,
.mas {
  margin-top: $mp-large-unit !important;
}
.mtm,
.mvm,
.mam {
  margin-top: $mp-medium-unit !important;
}
.mtl,
.mvl,
.mal {
  margin-top: $mp-large-unit !important;
}
.mrn,
.mhn,
.man {
  margin-right: $mp-none-unit !important;
}
.mrs,
.mhs,
.mas {
  margin-right: $mp-large-unit !important;
}
.mrm,
.mhm,
.mam {
  margin-right: $mp-medium-unit !important;
}
.mrl,
.mhl,
.mal {
  margin-right: $mp-large-unit !important;
}
.mbn,
.mvn,
.man {
  margin-bottom: $mp-none-unit !important;
}
.mbs,
.mvs,
.mas {
  margin-bottom: $mp-large-unit !important;
}
.mbm,
.mvm,
.mam {
  margin-bottom: $mp-medium-unit !important;
}
.mbl,
.mvl,
.mal {
  margin-bottom: $mp-large-unit !important;
}
.mln,
.mhn,
.man {
  margin-left: $mp-none-unit !important;
}
.mls,
.mhs,
.mas {
  margin-left: $mp-large-unit !important;
}
.mlm,
.mhm,
.mam {
  margin-left: $mp-medium-unit !important;
}
.mll,
.mhl,
.mal {
  margin-left: $mp-large-unit !important;
}
.mra,
.mha {
  margin-right: auto !important;
}
.mla,
.mha {
  margin-left: auto !important;
}
