//  color
$primary-color: black;
$secondary-color: rgba(117, 117, 117, 1);
$light-bg-color: rgba(242, 242, 242, 1);
$text-color: $secondary-color;

// font size
$font-xs: toRem(13);
$font-sm: toRem(14);
$font-med: toRem(18);
$font-lg: toRem(20);
$font-xlg: toRem(52);
