//  color
$primary-color: black;
$secondary-color: #f5f5f5;
$text-color: rgba(117, 117, 117, 1);

// font size
$font-xs: toRem(13);
$font-sm: toRem(14);
$font-med: toRem(18);
$font-lg: toRem(20);
$font-xlg: toRem(52);
