// abstracts
@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/animations";

// base
@import "base/globals";
@import "base/flex";
@import "base/spacing";
@import "base/responsive";

// debug
// * {
//   border: 1px dashed red;
// }

// layout
@import "layouts/container";
@import "layouts/header";

// component
@import "components/nav";
@import "components/logo";
@import "components/top.menu";
@import "components/resume";
@import "components/avatar";
