// abstracts
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/animations";

// base
@import "base/globals";
@import "base/spacing";

// * {
//   border: 1px dashed red;
// }

// layout
@import "layouts/header";

// component
@import "components/logo";
@import "components/top.menu";
@import "components/resume";
@import "components/avatar";
